body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  summary{
    font-size: 18px;
    color: #373fff;
  }

  h2{
      color: darkcyan;
      width: 100%;
  }

  .info-img img{
      width: 150px;
      height: auto;
  }

  .info-img{
    display: inline-block;
  }

  .info{
    width: 300px;
    height: auto;
    display: inline-block;
    position: relative;
    bottom: 40px;
  }

  .frase{
    color: rgb(228, 19, 19);
    font-size: 20px;
  }